.card-title {
    font-size: 22px
}

.card-text {
    font-size: 15px
}

.card-date {
    font-size: 10px
}

.inline-block {
    display: flex;
}


.inline-block-box {
    display: flex;
    position: relative;
    left: 975px;
}
html {
    background-color: grey
}